$primary:   #EEEFF1;
$secondary: #34547A;
$grey:      #727272;
$white:     #fff;
$black:     #000;

$main-block-width: calc(100rem + 30vw);

// fonts - title

$font-title-h1: calc(2rem + 1.23vw);
$font-title-h2: calc(1rem + 1.23vw);
$font-title-h3: calc(1.5rem + 1.23vw);

// fonts - paragraph

$font-p-small:  calc(0.2rem + 0.5vw);
$font-p-medium: calc(0.5rem + 0.6vw);
$font-p-large:  calc(0.6rem + 1.0vw);