<header class="header">
    
    <div class="header__main-block">
        <div class="nav">
            <div class="nav__logo">
                EP
            </div>
            <ul class="nav__list">
                <li>
                    <a href="#" class="nav__link">главное</a>
                </li>
                <li>
                    <a href="#about" class="nav__link">об авторе</a>
                </li>
                <li>
                    <a href="#projects" class="nav__link">работы</a>
                </li>
                <li>
                    <a href="#contacts" class="nav__link">контакты</a>
                </li>
                
            </ul>
        </div> <!-- nav -->
        <div class="callme">
           <div class="callme__image">
               <img src="/assets/images/callme-logo.svg"/>
           </div>
           <div class="callme__content">
                <h1 class="callme__content-title">Frontend developer</h1>
                <p class="callme__content-text">
                    Создание актуальных проектов с использованием стека современных технологий,
                    высокая клиентоориентированность, творческий и ответственный подход к решению задач.
                    <br/>
                    <br/>
                    Разработаю проект с нуля, от создания дизайна, до реализации готового продукта!
                </p>    
                
                <button class="btn btn__callme">Написать мне</button>
            </div>
           
        </div> <!-- callme -->
    </div> 

</header>
